# build results
**.o
**.lo
**.Po
**.Plo
**.a
**.la
**.so*
**.stamp
**/.libs
**/.deps

# Test compilations
tests/**.trs
tests/**.log


# Reserved for build system
*.cache
build-aux
**/Makefile
**/Makefile.in

# Documentation generations
docs/html
docs/xml

# Vala generations
**/vala/**.c
